# This is a basic workflow to help you get started with Actions

name: CI
on:

  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main" ]


  # workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo Hello, world! Hey


      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run Python file
        run: python main.py

