# This is a basic workflow to help you get started with Actions

name: CI
on:

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


  # workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

